# Ignore dataset folders
data/
!data/
!data/__init__.py
!data/mnist_loader.py

# PyTorch and Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pt
*.pth
*.ipynb_checkpoints

# VSCode or PyCharm
.vscode/
.idea/
'
# Jupyter runtime
*.checkpoint
.ipynb_checkpoints/
*.log



# MacOS system files
.DS_Store
